<h1>Hello from day×day. 👋</h1>
<p>このページがトップです！</p>
<!-- views/pairs/index.html.erb などに -->
<p>ENV['BASIC_AUTH_USER']: <%= ENV['BASIC_AUTH_USER'] %></p>
<p>ENV['BASIC_AUTH_PASSWORD']: <%= ENV['BASIC_AUTH_PASSWORD'] %></p>


